/* Style the body */
body {
  margin: 20px;
  background-image: url("./img/pride.jpg");
  background-size: cover;
}

.inline{
  float:right;
}

/* Style the header */
.header {
  background-color: #f32c2c;
  padding: 40px;
  text-align: center;
  margin: auto;
  width: 100%;
  
}

  /* Style the footer */
.footer {
  padding: 40px;
  text-align: center;
  background: rgb(49, 11, 214);
  margin-top: 30px;
}
/* Fake image */
.image {
  background-image: url("pride.jpg");
  width: 1500px;
  height: 500px;
  padding: 200px;
  background-size: 90%;
  background-repeat: no-repeat;
}

.inline {
  display: inline;
  text-align: center;
  float: left;
}
.horizontal {
  width: 70%;
  margin: 20px;
  padding: 20px;
}

.box {
  height: 150px;
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  margin: 20px;
  text-align:center;
  font-size:15px;
  box-shadow: 5px 10px 5px;
}

.content {
  border: 1px solid;
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: center;

}

.hidden{
  visibility: hidden;
}

.red {
  background-color: rgb(241, 13, 13);
}
.orange {
  background-color: rgb(240, 101, 9);
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: rgb(22, 22, 236);
}
.purple {
  background-color: rgb(235, 12, 197);
}
.pink {
  background-color: rgb(240, 39, 106);
}
/* Footer */
.footer {
  background-color: rgb(30, 180, 25);
  color: white;
  height: 50px;
  line-height: 10px;
  text-align: center;
}
  /* Style the top navigation bar */
.float{
  float:right;
}
.background{
  background-color: rgb(238, 58, 58);
}
.topnav{
  list-style-type: none;
  background-color: rgb(236, 84, 14);
  height: 50px;
  width: 100%;
  padding: 10px;
}
.topnav > li {
  display: inline;
  
}
.topnav > li > a {
  color: white;
  text-decoration: none;
  padding: 17px 10px;
  line-height: 50px;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.topnav > li:first-child a{
  color: black;
  background-color: green;
}
.topnav > li > a:hover {
  background-color: rgb(159, 161, 228);
}

 img {
   float:left;
   width:70px;
   height:70px;
   margin-left:20px;
   margin-top: 20px;
   background-color: rgb(255, 255, 255) ;
 }
 .border {
   border: outset;
   background-color: rgba(214, 248, 64, 0.801);
 }
 p {
   font-family: 'Times New Roman', Times, serif;
   color: rgb(5, 5, 5);
 }

 /* style colum*/
 .sidenav > li > a {
  display: block;
  padding: 20px 0px 20px 20px;
  text-decoration: none;
  color: white;
}

.sidenav > li > a:hover{
  background-color: turquoise;
}
.sidenav {
  margin-top: 20px;
}
.sidenav > li:first-child {
  background-color: teal;
}

.sidenav > li {
  background-color: rgb(35, 35, 37);
}
.left {
  background-color: rgba(30, 89, 218, 0.733);
  width: calc(30% - 40px);
  float: left;
  height: 100%;
  max-width: 350px;
}
.container{
  height: 100%;
  overflow: auto;
}
.right {
  background-color: rgba(0, 128, 0, 0.795);
  width: calc(70% - 40px);
  float: left;
  height: 100%;
  padding: 20px;
  margin: 5px 20px;
}

.back {
  background-color: rgba(209, 131, 28, 0.747);
  border: dotted;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 20px;
}

.back > a :hover {
  background-color: blue;
}

 /*
      ####################################################
      M E D I A  Q U E R I E S
      ####################################################
      */
      
      /*
      ::::::::::::::::::::::::::::::::::::::::::::::::::::
      Bootstrap 4 breakpoints
      */
      
      /* 
      Extra small devices (portrait phones, less than 576px) 
      No media query since this is the default in Bootstrap because it is "mobile first"
      */
      
      
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) {  
      
      }
      
      /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
      
      }
      
      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) { 
      
      }
      
      /* Extra large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) {  
          
      }
      
      
      
      /*
      ::::::::::::::::::::::::::::::::::::::::::::::::::::
      Custom media queries
      */
      
      /* Set width to make card deck cards 100% width */
      @media (max-width: 950px) { 
      
      }